# PostgreSQL Configuration
POSTGRES_HOST=srv8-objkrugess.mfactory.nxcloud.nexign.com
POSTGRES_PORT=5432

# Database credentials (users)
APIDOC_USER=apidoc
APIDOC_DB=apidoc

APIMAN_USER=apiman
APIMAN_DB=apiman

KPI_USER=kpi
KPI_DB=kpi

# Kubernetes Configuration
K8S_NAMESPACE=postgres-client
KUBECONFIG=./kubeconfig
